* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.webp binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.safetensors binary
*.ckpt binary
*.pt binary
*.pth binary
*.bin binary
*.onnx binary
*.wav binary
*.mp3 binary
*.flac binary

dist/** linguist-generated
build/** linguist-generated
